<h4>Forms POC</h4>
<div>{{ title }} - {{ currentSequence + 1 }}</div>

<button (click)="next()">next</button>
<button (click)="previous()">previous</button>

<div class="main-page" *ngFor="let p of pages">
  <ng-container
    *ngIf="canDisplay(entityTypes.PAGE, p.configurations.conditions)"
  >
    <div>{{ p.name }}</div>
    <div *ngFor="let groups of p.gs">
      <ng-container
        *ngIf="
          canDisplay(entityTypes.FORM_GROUP, groups.configurations.conditions)
        "
      >
        <div>{{ groups.name }}</div>

        <form [formGroup]="inputForms">
          <ng-container *ngIf="groups.formFields.length">
            <div *ngFor="let ff of groups.formFields">
              <ng-container
                *ngIf="
                  canDisplay(
                    entityTypes.FORM_FIELD,
                    ff.configurations.conditions
                  )
                "
              >
                <label for="{{ ff.name }}"> {{ ff.name }} </label>
                <input
                  id="{{ ff.name }}"
                  type="number"
                  formControlName="{{ ff.name }}"
                  (change)="inputChange()"
                />
                <span
                  style="color: red; font-size: small"
                  *ngIf="getControlErrors(ff.name)?.['required']"
                >
                  required
                </span>
              </ng-container>
            </div>
          </ng-container>
        </form>
      </ng-container>
    </div>
  </ng-container>
</div>
